.page{
    display: flex;
    flex-direction: column;
    border-style: ridge;
    width: 1600px;
    height: 900px;
    position: absolute;
    left: 50%;
    margin-left: -800px;
    padding: 25px;
}

.companions{
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
}

.titleText {
    width: 250px;
    padding-bottom: 10px;
}

.summaryText{
    width: 1000px
}