.img {
    height: 100px;
    width: 100px;
    margin: 15px;
    border-radius: 20px !important;
}

.bio{
    margin: 15px;
}

.button {
    display: flex;
    justify-content: end;
}

.page {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

.level{
    justify-content: flex-end;
    margin-right: 60px;
    display: flex;
}

/* ion-img:hover {
    -webkit-transform: scale(2,2);
  } */